table {
    margin: auto;
    padding-top: 20px;
}

.menu-item {
    padding: 10px 20px;
    display: inline;
}

input {
    font-family: monospace;
}

input + input {
    border-left: none;
    border-top: none;
}

input:focus {
    outline: none;
}


